[submodule "ros_packages/mrs_general"]
	path = ros_packages/mrs_general
	url = git@mrs.felk.cvut.cz:uav/core/mrs_general.git
[submodule "ros_packages/mrs_controllers"]
	path = ros_packages/mrs_controllers
	url = git@mrs.felk.cvut.cz:uav/core/mrs_controllers.git
[submodule "ros_packages/mrs_trackers"]
	path = ros_packages/mrs_trackers
	url = git@mrs.felk.cvut.cz:uav/core/mrs_trackers.git
[submodule "ros_packages/mrs_odometry"]
	path = ros_packages/mrs_odometry
	url = git@mrs.felk.cvut.cz:uav/core/mrs_odometry.git
[submodule "ros_packages/mrs_optic_flow"]
	path = ros_packages/mrs_optic_flow
	url = git@mrs.felk.cvut.cz:uav/core/mrs_optic_flow.git
[submodule "ros_packages/mrs_status"]
	path = ros_packages/mrs_status
	url = git@mrs.felk.cvut.cz:uav/utils/mrs_status.git
[submodule "ros_packages/mrs_lib"]
	path = ros_packages/mrs_lib
	url = git@mrs.felk.cvut.cz:uav/utils/mrs_lib.git
[submodule "ros_packages/mrs_mavros_interface"]
	path = ros_packages/mrs_mavros_interface
	url = git@mrs.felk.cvut.cz:uav/core/mrs_mavros_interface.git
[submodule "ros_packages/mrs_uav_manager"]
	path = ros_packages/mrs_uav_manager
	url = git@mrs.felk.cvut.cz:uav/core/mrs_uav_manager.git
[submodule "ros_packages/mrs_serial"]
	path = ros_packages/mrs_serial
	url = git@mrs.felk.cvut.cz:uav/utils/mrs_serial.git
[submodule "ros_packages/mrs_msgs"]
	path = ros_packages/mrs_msgs
	url = git@mrs.felk.cvut.cz:uav/core/mrs_msgs.git
[submodule "ros_packages/mrs_auto_exposure"]
	path = ros_packages/mrs_auto_exposure
	url = git@mrs.felk.cvut.cz:uav/core/mrs_auto_exposure.git
