[Unit]
Description=Alternative Autostart
After=network.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/home/mrs/alternative.sh
RemainAfterExit=true

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target multi-user.target
