# RULES FOR F330 POWER DISTRIBUTION BOARD
# Pixhawk
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="pixhawk",OWNER="mrs",MODE="0666"
# MRS Module 1
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="MRS_MODULE1",OWNER="mrs",MODE="0666"
